/*

Tooplate 2118 Chilling Cafe

https://www.tooplate.com/view/2118-chilling-cafe


    Background color:       #3a4a58
    Title color:            #996633
    Text color:             #666666
    Text Dark color:        #333333
    Table Heading color:    #C4CDD6
    Table Alternate color:  #e5e8ed 
*/

body {
  background-image: linear-gradient(#F96B6B,#F7E7CE);
  color: #8c8c8c;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
  padding: 15px;
  margin: 0;
}

.tm-container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.tm-main-content { background-color: #ffffff; }

#tm-intro-img {
  background-image: url(../img/logistic1.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 650px;
}
#tm-intro-img1 {
  background-image: url(../img/logistic2.png);
  align: centre;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 225px;
}
#tm-intro-lda1 {
  background-image: url(../img/lda1.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 550px;
}
#tm-intro-lda2 {
  background-image: url(../img/lda2.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 205px;
}
#tm-intro-qda1 {
  background-image: url(../img/qda1.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 400px;
}
#tm-intro-qda2{
  background-image: url(../img/qda2.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 275px;
}
#tm-intro-k1{
  background-image: url(../img/k1.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 275px;
}
#tm-intro-k3{
  background-image: url(../img/k3.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 275px;
}
#tm-intro-k5{
  background-image: url(../img/k5.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 275px;
}
#tm-intro-k10{
  background-image: url(../img/k10.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 275px;
}
#tm-intro-knn{
  background-image: url(../img/KNN.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 295px;
}
#tm-intro-rf1{
  background-image: url(../img/randomforest1.png);
  align: centre;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 400px;
}
#tm-intro-rf2{
  background-image: url(../img/randomforest2.png);
  align: centre;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 400px;
}
#tm-intro-rf3{
  background-image: url(../img/randomforest3.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 120px;
}
#tm-intro-svm1{
  background-image: url(../img/SVMgraph.png);
  align: centre;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 400px; 
}
#tm-intro-svm2{
  background-image: url(../img/svm2.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 310px;
}
#tm-intro-count{
  background-image: url(../img/count.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 315px;
}#tm-intro-alcohol{
  background-image: url(../img/alsohol.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 700px;
}#tm-intro-chlorides{
  background-image: url(../img/chlorides.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 700px;
}#tm-intro-ca{
  background-image: url(../img/citricacid.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 700px;
}#tm-intro-density{
  background-image: url(../img/density.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 700px;
}#tm-intro-fa{
  background-image: url(../img/fixedacidity.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 700px;
}#tm-intro-fsd{
  background-image: url(../img/fsd.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 700px;
}#tm-intro-ph{
  background-image: url(../img/pH.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 700px;
}#tm-intro-rsugar{
  background-image: url(../img/rsugar.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 700px;
}#tm-intro-sulphates{
  background-image: url(../img/sulphates.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 700px;
}#tm-intro-tsd{
  background-image: url(../img/tsd.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 700px;
}#tm-intro-va{
  background-image: url(../img/volatileacidity.png);
  align: centre;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 700px;
}


.tm-text-white { color: black;}

.tm-page-header-container { text-align: center; }

.tm-page-header {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 2.1rem;
  font-weight: 400;
}

.tm-page-icon {
  display: inline-block;
  vertical-align: baseline;
  padding: 15px;
}

.tm-section-header {
  color: #996633;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 30px;
}


.tm-text-left { text-align: left; }

th {
  color: #333333;
  font-weight: 400;
  font-size: 1.2rem;
  padding-left: 15px;
  padding-right: 15px;
}

tr:nth-child(odd) { background-color: #e5e8ed; }

tr.tm-tr-header {
  background-color: #c4cdd6;
  height: 50px;
}

.tm-section {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.tm-section-small {
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
}

p {
  font-size: 1rem;
  line-height: 1.7;
}



hr {
  width: 60%;
  border: 0.5px solid #ccc;
}


@media (max-width: 550px) {
  .tm-special-item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .tm-special-items {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media (max-width: 480px) {
  .tm-special-item {
    padding-left: 5px;
    padding-right: 5px;
  }
  .tm-special-items {
    margin-left: -5px;
    margin-right: -5px;
  }
}

@media (max-width: 430px) {
  .tm-responsive-table { overflow-x: auto; }
  table { width: auto; }
  .tm-special-items { flex-direction: column; }
  .tm-special-item { margin-bottom: 40px; }
  figcaption p {
    margin-bottom: 0;
    line-height: 1;
  }
}